.title {
  font: var(--font-l);
  color: var(--primary-color);
  padding: 0;
  margin: 0;
}

.text {
  font: var(--font-m);
  color: var(--primary-color);
  padding: 0;
  margin: 0;
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}
