.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--bg-content-color);
  position: relative;
  transition: width 0.2s;
}

.switchers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.items {
  top: 100px;
  position: absolute;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 8px;
}

.link {
  color: var(--primary-color);
}

.icon {
  width: 25px;
  margin-right: 9px;
  color: var(--primary-color);
}

.collapsedBtn {
  color: var(--primary-color);
}

.collapsed {
  width: var(--sidebar-width-collaped);

  .link {
    opacity: 0;
    width: 0;
  }
}
