.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--bg-content-color);
  position: relative;
  transition: width 0.2s;
}

.collapsed {
  width: var(--sidebar-width-collaped);
}

.switchers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.theme {
  display: flex;
  margin-right: 5px;
}
