.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 8px;
}

.icon {
  width: 25px;
  margin-right: 9px;
  color: var(--primary-color);
}

.link {
  color: var(--primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    width: 0;
  }}