.app_dark_theme {
  --bg-color: #141414;
  --inverted-bg-color: #edeef0;
  --bg-content-color: #222;
  --tint-bg-color: #333;
  --primary-color: #e1e3e6;
  --inverted-primary-color: black;
  --secondary-color: #828282;
  --subhead-color: #939393;
  --snippet-border: rgb(255 255 255 / 16%);
}
