.app_light_theme {
  --bg-color: #edeef0;
  --tint-bg-color: #f0f2f5;
  --bg-content-color: #fff;
  --primary-color: #000;
  --inverted-primary-color: #e1e3e6;
  --secondary-color: #818c99;
  --subhead-color: #626d7a;
  --snippet-border: rgb(0 0 0 / 12%);
}
