.appLink {
  color: var(--subhead-color);
  text-decoration: none;
}

.primary {
  color: var(--primary-color);
  text-decoration: none;
}

.secondary {
  color: var(--secondary-color);
  text-decoration: none;
}
